.c-centerContainerPlusSome, .c-centerContainer {
  display:block; 
  margin-left: auto !important; 
  margin-right: auto !important;
}

.c-centerContainerPlusSome {
	width: 96%;
	max-width: 1900px;
}

.c-centerContainer {
	width: $wrapper-max-width;
	max-width: 96%;
}

.c-centerContainerMax {
	display:block; 
	margin-left: auto !important; 
	margin-right: auto !important;
	width: 1800px;
	max-width: 100%;
}

.c-centerContainer--small {
	display:block; 
  	margin-left: auto !important; 
  	margin-right: auto !important;
  	width: 1000px;
  	max-width: 100%;
}