/* ==========================================================================
   VARIABLES
   ========================================================================== */

/**
 * Wrapper
 */

$wrapper-max-width: 1300px !default;

$almost-black:#19181A;
$yellow:#FAED26;
$gold:#AD8900;
